<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.mattgmg.miracastwidget" >

    <uses-permission android:name="com.android.setting.permission.ALLSHARE_CAST_SERVICE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="remove" />

    <application
        android:name=".MiracastApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/launcher_icon_title"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mattgmg.miracastwidget.MainActivity"
            android:label="@string/launcher_icon_title"
            android:theme="@android:style/Theme.NoDisplay"
            android:noHistory="true"
            android:excludeFromRecents="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="com.mattgmg.miracastwidget.MiracastWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/miracast_widget_info" />
        </receiver>
    </application>

</manifest>
